.latestNews {
  display: flex;
  align-items: center;
  flex-direction: column;

  max-width: 1000px;
  margin: 96px auto 36px;

  &__title {
    color: var(--deep-black);

    font-family: var(--font-secondary);
    font-size: 48px;
    font-weight: 400;
    line-height: 72px;
  }
}

.header {
  display: flex;
  align-items: flex-start;

  width: 100%;
  margin-bottom: 40px;
}

.news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}