.flex {
  display: flex;
  align-items: center;

  max-width: 550px;
  margin: 12px 0;
}

.blogItem {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.imgBlock {
  width: 100%;
  max-width: 550px;
}

.textBlock {
  width: 100%;
  max-width: 550px;
  margin-left: 60px;
}

.mainImg {
  display: inline-block;

  width: 100%;
  max-width: 550px;

  border-radius: 24px;
}

.category {
  margin-right: 12px;

  color: var(--black);

  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
}

.date {
  color: var(--gray);

  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.mainTitle {
  color: var(--deep-black);

  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
}

.userIcon {
  display: inline-block;

  width: 32px;
  margin-right: 12px;

  border-radius: 50%;
}

.userName {
  color: var(--deep-black);

  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.sm {
  width: 30%;

  transition: all .3s;

  .blogItem {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  
    height: 430px;
    margin: 0 0 60px;
  }
  
  .mainImg {
    width: 100%;
  }
  
  .textBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    height: 100%;
    margin-left: 0;
  }
  
  .mainTitle {
    max-width: 300px;
  
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
  }
}

.lg {
  transition: all .3s;

  .blogItem {
    margin: 72px auto;
  }
}

@media (width <= 1099px) {
  .lg .textBlock {
    margin-left: 0;
  }

  .blogItem {
    align-items: flex-start;
    flex-direction: column;
  }

  .imgBlock {
    width: 100%;
    max-width: 1400px;
  }

  .mainImg {
    display: inline-block;

    width: 100%;
    max-width: 1400px;

    border-radius: 24px;
  }
}

@media (width <= 999px) {
  .sm {
    width: 45%;
  }

  .mainTitle {
    color: var(--deep-black);

    font-size: 48px;
    line-height: 62px;
  }
}

@media (width <= 639px) {
  .sm {
    width: 100%;

    .blogItem {
      height: 90%;
    }
  }

  .lg .blogItem {
    margin: 42px auto;
  }

  .mainTitle {
    width: 80%;

    color: var(--deep-black);

    font-size: 24px;
    line-height: 42px;
  }
}