.flex {
  display: flex;
  align-items: center;
  max-width: 550px;
  margin: 12px 0;
}

.blogItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  height: 390px;
}

.imgBlock {
  width: 100%;
  max-width: 550px;
}

.textBlock {
  width: 100%;
  max-width: 550px;
}

.Block {
  width: 100%;
  max-width: 550px;
}

.mainImg {
  display: inline-block;
  border-radius: 24px;
  width: 100%;
  max-width: 550px;
}

.category {
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  margin-right: 12px;
  color: var(--black);
}

.date {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: var(--gray);
}

.mainTitle {
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  color: var(--deep-black);
}

.userIcon {
  display: inline-block;
  border-radius: 50%;
  margin-right: 12px;
  width: 32px;
}

.userName {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: var(--deep-black);
}

.sm {
  width: 30%;
}

.sm .blogItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 0 60px 0;
  height: 430px;
}

.sm .mainImg {
  width: 100%;
}

.sm .textBlock {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.sm .mainTitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  max-width: 300px;
}

.lg .blogItem {
  margin: 72px auto;
}