.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 auto;
  flex-direction: column;
  max-width: 1200px;
  height: 183px;

  &__secondary {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: var(-black);
  }

  &__primary {
    font-weight: 400;
    font-size: 64px;
    line-height: 84px;
    color: var(-black);
  }
}
