.App {
  max-width: 1400px;
  width: 100vw;
  padding: 56px 100px;
  overflow: hidden;
  margin: 0;

  @media (max-width: 819px) {
    padding: 50px;
  }

  @media (max-width: 619px) {
    padding: 10px;
  }
}