.app {
  overflow: hidden;

  width: 100vw;
  max-width: 1400px;
  margin: 0;
  padding: 56px 100px;

  @media (width <= 819px) {
    padding: 50px;
  }

  @media (width <= 619px) {
    padding: 10px;
  }
}