* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgb(255 255 255 / 0%);
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;

  font-family: var(--font-primary);
}

:root {
  --deep-black: #000;
  --black: #0A2640;
  --white: #FFF;
  --gray: #777;
  --primary: #65E4A3;
  --font-primary: 'Noto Sans', sans-serif;
  --font-secondary: 'Manrope', sans-serif;
}
