.emailBlock {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;

  width: 100%;
  margin: 0 auto;
  margin-top: 124px;
  padding: 72px;

  color: var(--white);
  border-radius: 12px;
  background: url("./img/mail-bg.png") no-repeat;
  background-size: 100% 100%;
}

.title{
  max-width: 716px;
  margin-bottom: 48px;

  transition: all .3s;
  text-align: center;

  font-family: var(--font-secondary);
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
}

.email {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 60%;

  &__input {
    width: 110%;
    max-width: 370px;
    margin-right: 24px;
    padding: 12px 32px;

    transition: all .3s;

    color: var(--deep-black);
    border: 2px solid var(--white);
    border-radius: 240px;
    outline: none;
    background: var(--white);

    font-size: 20px;
    font-weight: 400;
    line-height: 32px;

    &:focus {
      transform: scale(1.05);
    }
  }
}

@media (width <= 1000px) {
  .email {
    flex-direction: column;

    width: 100%;

    &__input {
      margin-right: 0;
      margin-bottom: 20px;

      text-align: center;
    }
  }
}

@media (width <= 820px) {
  .emailBlock {
    padding: 60px;
  }

  .title{
    font-size: 36px;
    line-height: 60px;
  }
}

@media (width <= 640px) {
  .emailBlock {
    padding: 50px;
  }

  .title{
    font-size: 24px;
    line-height: 44px;
  }
}